.backgrounddiv {
  background-image: url("https://source.unsplash.com/random/640x480");
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;
}

.back {
  background: url("../images/plano.jpg");
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;
}
